@import 'variables';
@import 'bs';
@import 'typography';
@import 'contact';
@import 'about';
@import 'carousel';

body {
    display: block;
    overflow-x: hidden;
    background-color: $Arcane-blue;
    font-size: 1rem;
	font-family: 'Raleway', sans-serif;
}
nav {
    background-color: $Arcane-dark-blue;
	opacity: 90%;

    .navbar-brand img {
        height: 30px;
        width: 180px;
    }
}
.hidden {
    display:none;
}
// Parallax effect 
.parallax {
    background-image: url("../img/JinxHeader.jpg");
    height: 93.4vh; 
// Parallax Scroll Effect
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
// Video
 .embed{
    width: 100%;
    min-height: 48vh;
}
// Footer
.footer {
    background-color: $Arcane-dark-blue;
}
a.socials {
	color: $Arcane-white;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 20px;
}
a:hover {
	color: $Arcane-light-blue;
}